.esri-webmap-showcase {
  padding: 16px;
  position: absolute;
}
.esri-webmap-showcase p {
  margin: 0;
  padding: 0;
}
.esri-webmap-showcase__header {
  margin-bottom: 16px;
}
.esri-webmap-showcase__header--main {
  margin-bottom: 32px;
}
.esri-webmap-showcase__panel {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.esri-webmap-showcase__description {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
.esri-webmap-showcase__item:first-child::after {
  content: "";
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
  pointer-events: none;
}
.esri-webmap-showcase__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.esri-webmap-showcase__urls {
  display: flex;
}
.esri-webmap-showcase__loader {
  background: url("https://js.arcgis.com/4.8/esri/themes/base/images/loading-throb.gif") no-repeat center;
  width: 39px;
  height: 33px;
}
.esri-webmap-showcase__countdown {
  position: relative;
  height: 8px;
}
.esri-webmap-showcase__countdown-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #6e6e6e;
  transition: width 1s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
