.esri-overview {
  height: 100px;
  width: 100px;
}

/*.esri-overview__view::before {*/
  /*content: "";*/
  /*-webkit-backdrop-filter: blur(2px);*/
  /*backdrop-filter: blur(2px);*/
/*}*/

.esri-overview__overlay,
.esri-overview__view {
  width: 100%;
  height: 100%;
}

/*
TODO: responsiveness
*/
